[run]
source = Bridge
omit = 
    */migrations/*
    */tests.py
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */manage.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    pass
    raise NotImplementedError
    if settings.DEBUG
    if __name__ == .__main__.: